{% extends "videos/layout.html" %}

{% block page_title %}
    Create
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
                <div class="fieldWrapper">
                    {{ field.label_tag }}
                    {{ field }}
                    {% for error in field.errors %}
                        <div style="color: red;text-align: center;">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <br>
            <input type="submit" class="btn btn-primary" value="Create">
        </form>
    {% else %}
        {% include "videos/notconnected.html" %}
    {% endif %}
{% endblock %}