{% extends "videos/layout.html" %}

{% block page_title %}
    Edit
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <br>
            <input type="submit" class="btn btn-primary" value="Update">
            <a href="{% url 'list' %}" class="btn btn-warning">Back</a>
        </form>
    {% else %}
        {% include "videos/notconnected.html" %}
    {% endif %}
{% endblock %}