<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="position: fixed; width: 100%;z-index: 102;">
    <a class="navbar-brand" href="{% url 'index' %}">WatchBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto" style="width: 100%;">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'list' %}">List <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create' %}">Create</a>
        </li>
        <div style="text-align: center;width: 100%;color: blue;margin: auto;text-decoration: underline;">
          {% if user.is_authenticated %}
            Hello {{ user }}
          {% else %}
            Vous n'êtes pas authentifié....
          {% endif %}
            </div>
      </ul>
      
      <ul class="navbar-nav">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">LogOut</a>
          </li>       
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">SignIn</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">LogIn</a>
          </li>
        {% endif %}
      </ul>
    </div>
</nav>
<script>
  for (var i = 0; i < document.links.length; i++) {
    if (document.links[i].parentElement.className.includes("active")) {
      document.links[i].parentElement.className = "nav-item";
    }
    
    if (document.links[i].href == document.URL) {
      if (document.links[i].parentElement.localName == "li") {
        document.links[i].parentElement.className = 'nav-item active';
      }
    }
  }
</script>